<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.sptrans.transportepublico.painel"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:theme="@style/AppTheme">

        <activity
            android:name=".Viagem"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
  			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
              
        <activity android:name=".Index" android:screenOrientation="landscape" />
        
        <activity android:name=".Transito" 
          android:screenOrientation="landscape"
          android:label="Trânsito" 
          android:launchMode="singleInstance"/>
        
        <activity android:name=".Lotacao" 
         android:screenOrientation="landscape" 
         android:label="Lotação"
         android:launchMode="singleInstance"/>
        
        <activity android:name=".Alerta"  
         android:screenOrientation="landscape"
         android:label="Alertas"
         android:launchMode="singleInstance">
        </activity>

    </application>
     <!-- <category android:name="android.intent.category.DEFAULT"/>
               <category android:name="android.intent.category.HOME">
               <action android:name="android.intent.action.MAIN"/>-->
</manifest>


